<div id="home" class="view text-center ng-scope">
    <span class="fa-stack" style="font-size: 5em; color: #FFAC00;">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-gears fa-stack-1x" style="top: -5px;"></i>
    </span>

    <h1>MetLife Solutions Health Check</h1>
    <h4>Tools to diagnose performance issues.</h4>
</div>
